@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f5f5dc;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Georgia, 'Times New Roman', Times, serif;
}

@font-face {
  font-family: Astronika;
  src: url('../../public/Astronika.otf');
}

/* Scrollbar Style */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #d5d5ad;
}

::-webkit-scrollbar-thumb {
  background: #942c2c;
}